@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

h1 {
  padding: 1em;
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  letter-spacing: 3px;
}

.image--container {
  width: 600px;
  margin: 0 auto;
  margin-bottom: 2em;
  display: grid;
  gap: 20px;
  overflow: hidden;
}

@media (min-width: 400px) {
  .image--container {
    width: 84vw;
  }
}

.image--container img {
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}